:root {
    --my-purple: #9c88ff;
}

body {
    margin: 0;
}

main {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 30px;
    text-align: center;
    top: 0;
    left: 0;
}

.heart-icon {
    color: var(--my-purple);
    font-size: 10vh;
}

.pulse {
    transition: all 0.3s linear;
    background-color: var(--my-purple);
}